*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: #000;
  color: white;
}

.card{
    display: flex;
    margin: 40px 60px;
    gap: 8vh;
}
.innerBox{
    padding: 15px 20px;
    background: #383838;
    border-radius: 10px;
}