* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

button{
  margin: 20px;
  padding: 6px 15px;
  border-radius: 5px;
  cursor: pointer;
}

.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap : 50px
}

input{
  width: 60vh;
  height: 40px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding-left: 20px;
}
.inputSection{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgb(0, 71, 71);
  padding: 40px 50px;
  border-radius: 20px;
}

.page{
  width: 100%;
}

.page1 {
  height: 54.7vh;
  background-color: #e3e3e399;
}
.page2 {
  height: 100vh;
  background-color: #b6b6b6;
}
.page3 {
  height: 100vh;
  background-color: #a1a1a1;
}