* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

.parent{
  width: 100%;
  min-height: 100vh;
  background-color: #111;
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  gap: 30px;
}

.card{
  height: 340px;
  width: 320px;
  background-color: #fff;
  border-radius: 25px;
  padding: 25px;
  display: flex;
  flex-direction: column;
  align-items: space-between;
  justify-content: space-between;
}

.top{
  display: flex;
  justify-content: space-between;
}
.top img{
  height: 40px;
  width: 40px;
  padding: 4px;
  object-fit: cover;
  border-radius: 50%;
  border: 1px solid #dadada;
}

.top button{
  display: flex;
  align-items: center;
  padding: 7px 10px;
  border: 1px solid #cccccc;
  border-radius: 5px;
  background-color: #fff;
  color: #898989;
  font-size: 10px;
  gap: 4px;
  font-weight: 600;
  cursor: pointer;
}

.middle{
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap : 11px
}

.middle h3{
  font-size: 14px ;
  color: #2d2d2d;
}
.middle h3 span{
  margin-left: 5px;
  font-size: 11px ;
  color: #ababab;
}

.middle button{
  padding: 8px 12px;
  border: none;
  background-color: #e0dfdf99;
  border-radius: 5px;
  margin-right: 8px;
  font-weight: normal;
}

.end{
  border-top: 1px solid #cccccc;
  padding-top: 15px;
  display: flex;
  align-items: start;
  justify-content: space-between;
}

.end h3{
  font-size: medium;
}
.end p{
  margin-top: 6px;
  font-size: 11px ;
  color: #ababab;
}

.end button{
  background-color: black;
  color: #fff;
  padding: 8px 15px;
  border-radius: 7px;
  cursor: pointer;
}

