* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

html, body {
  height: 100%;
  width: 100%;
}

button{
  padding: 10px 15px;
  border-radius: 7px;
  background: #222;
  color: white;
  border: none;
}